[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6.5"

[packages]
"pyqt5" = "==5.11.2"
pynput = "==1.6.8"
pygame
sip = "*"

[dev-packages]
pyinstaller = "==3.4"